

/* Contenedor principal y barra de navegación */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #56a8e3; /* Fondo azul */
    display: flex;
    flex-direction: column; /* Alineamos todo de forma vertical */
    min-height: 100vh;
}

/* Barra de navegación */
nav {
    background-color: #003366; /* Color de fondo */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #444;
}

/* Contenedor para el contenido principal */
.contenedor {
    margin-top: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado */
h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de los campos de formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

/* Estilo de los campos de selección */
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

/* Botón de búsqueda */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
