@font-face {

    font-family: "Roboto-Black";
    src: url('../fonts/Roboto-Black.ttf');
    
    }
    
    html{
    height: 100%;
    font-family: Roboto-Black;
    
    
    }

    body{

        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        background-color: #0093E9;
        
    }

    #grupito{

        width: 30%;
        margin: auto;
        background-color: white;
        border-style: none;
        box-shadow: black 0px 5px 5px;
        border-radius: 15px;
    }

    #text{
        width: 80%;
        height: 40px;
        background-image: url('../img/sesion.png');
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 55px;
        font-family: Roboto-Black;
        font-size: 20px;
        border-left-style: none;
        border-top-style: none;
        border-right-style: none;
        margin-bottom: 20px;
    }

    #pwd{
        width: 80%;
        height: 40px;
        background-image: url('../img/pass.png');
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 55px;
        font-family: Roboto-Black;
        font-size: 20px;
        border-left-style: none;
        border-top-style: none;
        border-right-style: none;
        margin-bottom: 20px;
    }

    #btn{

        width: 80%;
        height: 40px;
        font-family: Roboto-Black;
        margin-bottom: 20px;
    }